/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Enable these styles if you wish to go into a grid layout. */


ul#images ul {
    width: 26%;
    height: 500px;
    position: relative;
    float: left;
    overflow: scroll;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images ul li {
    display: inline-block;
}

ul#images li button {
    display: inline-block;
}

/*--- End of grid layout styles. */

ul#images {
    list-style-type: none;
}

ul#images ul {
    list-style-type: none; 
    background-color: #008CBA;
    margin: 20px;
    padding: 10px;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}













